"*":
  "atom-beautify":
    apex: {}
    arduino: {}
    c: {}
    cfml: {}
    coffeescript: {}
    cpp: {}
    cs: {}
    css:
      convert_quotes: "double"
      newline_between_rules: true
      selector_separator_newline: true
    d: {}
    ejs: {}
    erb: {}
    fortran: {}
    general:
      _analyticsUserId: "f59db489-1c91-41e9-aa41-1f800e9eed30"
      beautifyEntireFileOnSave: false
    gherkin: {}
    handlebars: {}
    html: {}
    jade: {}
    java: {}
    js:
      end_with_newline: true
      indent_size: 2
    json:
      indent_size: 2
    jsx: {}
    latex: {}
    less: {}
    marko: {}
    mustache: {}
    objectivec: {}
    pawn: {}
    perl: {}
    php: {}
    python: {}
    riot: {}
    ruby: {}
    rust: {}
    sass: {}
    scss: {}
    spacebars: {}
    sql: {}
    svg: {}
    swig: {}
    tss: {}
    twig: {}
    typescript: {}
    vala: {}
    visualforce: {}
    xml: {}
    xtemplate: {}
  "autocomplete-plus": {}
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "linter-jshint"
      "atom-license"
      "vim-mode"
      "jshint"
      "linter-jscs"
    ]
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  editor:
    fontFamily: "Hack"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  emmet: {}
  jsformat:
    format_on_save: false
  "language-babel": {}
  linter:
    errorPanelHeight: 230
  "linter-eslint":
    globalNodePath: "/usr/local"
    useGlobalEslint: true
  "linter-jscs":
    esnext: true
    onlyConfig: true
  "linter-scss-lint":
    disableWhenNoConfigFileInPath: true
  "package-sync":
    forceOverwrite: true
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "todo-show":
    sortAscending: false
    sortBy: "Type"
  "vim-mode": {}
  welcome:
    showOnStartup: false
".js.jsx.source":
  editor:
    autoIndent: true
".js.source":
  editor:
    autoIndent: true
