"*":
  "atom-beautify":
    css:
      convert_quotes: "double"
      newline_between_rules: true
      selector_separator_newline: true
    general:
      _analyticsUserId: "f59db489-1c91-41e9-aa41-1f800e9eed30"
      beautifyEntireFileOnSave: false
  "autocomplete-plus": {}
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "linter-jshint"
      "atom-license"
      "vim-mode"
      "linter-jscs"
      "jshint"
    ]
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  editor:
    fontFamily: "Hack"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  emmet: {}
  jsformat:
    format_on_save: false
  "language-babel": {}
  linter:
    errorPanelHeight: 22
  "linter-eslint":
    globalNodePath: "/usr/local"
    useGlobalEslint: true
  "linter-jscs":
    esnext: true
    onlyConfig: true
  "linter-scss-lint":
    disableWhenNoConfigFileInPath: true
  "package-sync":
    forceOverwrite: true
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "todo-show":
    sortAscending: false
    sortBy: "Type"
  "vim-mode": {}
  welcome:
    showOnStartup: false
".js.jsx.source":
  editor:
    autoIndent: true
".js.source":
  editor:
    autoIndent: true
