'.platform-darwin atom-workspace':
  # Layout management
  'cmd-k cmd-l cmd-1': 'pane-manager:change-layout-one'
  'cmd-k cmd-l cmd-2': 'pane-manager:change-layout-two'
  'cmd-k cmd-l cmd-3': 'pane-manager:change-layout-three'
  'cmd-k cmd-l cmd-4': 'pane-manager:change-layout-four'
  'cmd-k cmd-l cmd-5': 'pane-manager:change-layout-five'
  'cmd-k cmd-l cmd-6': 'pane-manager:change-layout-six'
  'cmd-k cmd-l cmd-7': 'pane-manager:change-layout-seven'
  'cmd-k cmd-l cmd-8': 'pane-manager:change-layout-eight'
  'cmd-k cmd-l cmd-9': 'pane-manager:change-layout-nine'
  'cmd-k cmd-l cmd-0': 'pane-manager:change-layout-ten'
  # Move to pane
  'cmd-k cmd-m cmd-1': 'pane-manager:move-to-pane-one'
  'cmd-k cmd-m cmd-2': 'pane-manager:move-to-pane-two'
  'cmd-k cmd-m cmd-3': 'pane-manager:move-to-pane-three'
  'cmd-k cmd-m cmd-4': 'pane-manager:move-to-pane-four'
  'cmd-k cmd-m cmd-5': 'pane-manager:move-to-pane-five'
  'cmd-k cmd-m cmd-6': 'pane-manager:move-to-pane-six'
  'cmd-k cmd-m cmd-7': 'pane-manager:move-to-pane-seven'
  'cmd-k cmd-m cmd-8': 'pane-manager:move-to-pane-eight'
  'cmd-k cmd-m cmd-9': 'pane-manager:move-to-pane-nine'
  'cmd-k cmd-m cmd-0': 'pane-manager:move-to-pane-ten'
  # Focus to pane
  'cmd-k cmd-f cmd-1': 'pane-manager:focus-to-pane-one'
  'cmd-k cmd-f cmd-2': 'pane-manager:focus-to-pane-two'
  'cmd-k cmd-f cmd-3': 'pane-manager:focus-to-pane-three'
  'cmd-k cmd-f cmd-4': 'pane-manager:focus-to-pane-four'
  'cmd-k cmd-f cmd-5': 'pane-manager:focus-to-pane-five'
  'cmd-k cmd-f cmd-6': 'pane-manager:focus-to-pane-six'
  'cmd-k cmd-f cmd-7': 'pane-manager:focus-to-pane-seven'
  'cmd-k cmd-f cmd-8': 'pane-manager:focus-to-pane-eight'
  'cmd-k cmd-f cmd-9': 'pane-manager:focus-to-pane-nine'
  'cmd-k cmd-f cmd-0': 'pane-manager:focus-to-pane-ten'
