<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_className</key>
	<string>PHXCardDAVSource</string>
	<key>acAccountIdentifier</key>
	<string>5CA96088-E0BB-41DC-AB59-4135AC9D4543</string>
	<key>disabled</key>
	<false/>
	<key>emailAddress</key>
	<string>freehat704@gmail.com</string>
	<key>homeInfo</key>
	<dict>
		<key>/v1/carddav/27162609/contacts/</key>
		<dict>
			<key>displayName</key>
			<string></string>
			<key>me-card</key>
			<string>https://freehat704%40gmail.com@carddav.linkedin.com/v1/carddav/27162609/contacts/addressbook/27162609.vcf</string>
			<key>path</key>
			<string>/v1/carddav/27162609/contacts/</string>
			<key>privileges</key>
			<array>
				<string>DAV::read</string>
			</array>
			<key>resourceTypes</key>
			<array>
				<string>DAV::collection</string>
			</array>
			<key>url</key>
			<string>https://freehat704%40gmail.com@carddav.linkedin.com/v1/carddav/27162609/contacts/</string>
		</dict>
		<key>/v1/carddav/27162609/contacts/addressbook/</key>
		<dict>
			<key>displayName</key>
			<string></string>
			<key>path</key>
			<string>/v1/carddav/27162609/contacts/addressbook/</string>
			<key>privileges</key>
			<array>
				<string>DAV::read</string>
			</array>
			<key>resourceTypes</key>
			<array>
				<string>DAV::collection</string>
				<string>urn:ietf:params:xml:ns:carddav:addressbook</string>
			</array>
			<key>supportedReports</key>
			<array>
				<string>DAV::sync-collection</string>
				<string>urn:ietf:params:xml:ns:carddav:addressbook-multiget</string>
			</array>
			<key>url</key>
			<string>https://freehat704%40gmail.com@carddav.linkedin.com/v1/carddav/27162609/contacts/addressbook/</string>
		</dict>
	</dict>
	<key>lastKnownServerMeCardPath</key>
	<string>/v1/carddav/27162609/contacts/addressbook/27162609.vcf</string>
	<key>name</key>
	<string>Jeremy Wong</string>
	<key>principalInfo</key>
	<dict>
		<key>DAV::displayname</key>
		<string></string>
		<key>DAV::principal-URL</key>
		<string>https://freehat704%40gmail.com@carddav.linkedin.com/v1/carddav/27162609/</string>
		<key>urn:ietf:params:xml:ns:carddav:addressbook-home-set</key>
		<array>
			<string>https://freehat704%40gmail.com@carddav.linkedin.com/v1/carddav/27162609/contacts/</string>
		</array>
	</dict>
	<key>searchable</key>
	<false/>
	<key>serverName</key>
	<string>carddav.linkedin.com</string>
	<key>serverRootPath</key>
	<string>/v1/carddav/27162609/</string>
	<key>servername</key>
	<string>https://carddav.linkedin.com/v1/carddav/27162609/</string>
	<key>useSSL</key>
	<true/>
	<key>userName</key>
	<string>freehat704@gmail.com</string>
	<key>username</key>
	<string>freehat704@gmail.com</string>
</dict>
</plist>
