"*":
  "exception-reporting":
    userId: "9b21b29d-d823-a22d-38cc-5c46d9b4dcba"
  welcome:
    showOnStartup: false
  linter:
    subtleLinterErrors: [
      "php"
      "csslint"
      "jshint"
    ]
    showErrorPanel: false
  core:
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
    disabledPackages: [
      "jsformat"
      "auto-indent"
      "atom-color-highlight"
      "linter-jshint"
      "linter-jscs"
      "atom-license"
      "linter-erb"
    ]
  editor:
    invisibles: {}
    softTabs: false
    showIndentGuide: true
    fontFamily: "Hack"
  jsformat:
    brace_style: "expand"
    indent_with_tabs: true
  "atom-beautify":
    _analyticsUserId: "59764abd-2bea-40a9-a57e-13d2852ba8a4"
    js_indent_with_tabs: true
  "go-rename": {}
  "go-plus": {}
  "atom-ternjs": {}
  "atom-color-highlight": {}
  "jscs-fixer": {}
  react: {}
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  emmet: {}
  minimap: {}
  "linter-eslint":
    globalNodePath: "/usr/local"
    useGlobalEslint: true
    eslintRulesDir: "./"
  "linter-jscs":
    onlyConfig: true
