<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_className</key>
	<string>PHXCardDAVSource</string>
	<key>acAccountIdentifier</key>
	<string>2F40C084-2CFD-4C49-BC60-17EE8388543B</string>
	<key>disabled</key>
	<false/>
	<key>emailAddress</key>
	<string>jeremywong704@yahoo.com</string>
	<key>homeInfo</key>
	<dict>
		<key>/1032810453/contacts/</key>
		<dict>
			<key>displayName</key>
			<string></string>
			<key>me-card</key>
			<string>https://jeremywong704%40yahoo.com@webdav.facebook.com/1032810453/contacts/addressbook/1032810453.vcf</string>
			<key>path</key>
			<string>/1032810453/contacts/</string>
			<key>privileges</key>
			<array>
				<string>DAV::read</string>
			</array>
			<key>resourceTypes</key>
			<array>
				<string>DAV::collection</string>
			</array>
			<key>url</key>
			<string>https://jeremywong704%40yahoo.com@webdav.facebook.com/1032810453/contacts/</string>
		</dict>
		<key>/1032810453/contacts/addressbook/</key>
		<dict>
			<key>displayName</key>
			<string></string>
			<key>path</key>
			<string>/1032810453/contacts/addressbook/</string>
			<key>privileges</key>
			<array>
				<string>DAV::read</string>
			</array>
			<key>resourceTypes</key>
			<array>
				<string>DAV::collection</string>
				<string>urn:ietf:params:xml:ns:carddav:addressbook</string>
			</array>
			<key>supportedReports</key>
			<array>
				<string>DAV::sync-collection</string>
				<string>urn:ietf:params:xml:ns:carddav:addressbook-multiget</string>
			</array>
			<key>url</key>
			<string>https://jeremywong704%40yahoo.com@webdav.facebook.com/1032810453/contacts/addressbook/</string>
		</dict>
	</dict>
	<key>lastKnownServerMeCardPath</key>
	<string>/1032810453/contacts/addressbook/1032810453.vcf</string>
	<key>name</key>
	<string>Facebook</string>
	<key>principalInfo</key>
	<dict>
		<key>DAV::displayname</key>
		<string></string>
		<key>DAV::principal-URL</key>
		<string>https://jeremywong704%40yahoo.com@webdav.facebook.com/1032810453/</string>
		<key>urn:ietf:params:xml:ns:carddav:addressbook-home-set</key>
		<array>
			<string>https://jeremywong704%40yahoo.com@webdav.facebook.com/1032810453/contacts/</string>
		</array>
	</dict>
	<key>searchable</key>
	<false/>
	<key>serverName</key>
	<string>webdav.facebook.com</string>
	<key>serverRootPath</key>
	<string>/1032810453/</string>
	<key>servername</key>
	<string>https://webdav.facebook.com/1032810453/</string>
	<key>useSSL</key>
	<true/>
	<key>userName</key>
	<string>jeremywong704@yahoo.com</string>
	<key>username</key>
	<string>jeremywong704@yahoo.com</string>
</dict>
</plist>
